.notes-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.note {
  position: absolute;
  will-change: transform, left, top;
  transition: none;
}
